<%- include('../partials/header') %>

<h1>Skill #<%= skill.id %></h1>
<h3><%= skill.skill %></h3>
<h3>Mastered: <%= skill.mastered ? 'Yes' : 'No' %></h3>
<a href="/skills/<%= skill.id %> /edit">EDIT SKILL</a>

<%- include('../partials/footer') %>